.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  
  margin: 0;
  background-color: #ffffff;
}



.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
 
}



.forgot {
  text-align: left;
  color: #0096FF; 
  cursor: pointer;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin: 0.75rem 0;
  font-weight: bold;;
  font-size: 0.95rem;
  width: 100%;
}

.reglink {
  color: #0096FF;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
}
h1 {
  margin: 0;
  font-size: 3rem;
  color: #000000;
  font-weight: bold;
  text-align: left;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin: 0.5rem 1rem 1rem 0.5rem;
  width: 100%;
  font-weight: bold;
 padding-left: 2rem;
}
h3 {
  font-weight: 400;
  font-size: 0.8rem;
  color: #71727A;
  text-align: left;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin: 0;
  width: 100%;
  padding-left: 2rem;
}



.inputWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.input {
  padding: 8px 40px 8px 12px; 
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 1rem;
  height: 40px;
  box-sizing: border-box;
}

.input::placeholder {
  color: #aaa;
  padding-left: 2px;
}

.passwordWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.eyeIconWrapper {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #777;
}

.eyeIconWrapper:hover {
  color: #007BFF;
}



.imglogin {
  width: 100%;
  height: auto;
  max-height: 35vh;
  margin: 0;
  padding: 0;
  border: 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
 width: 80%;
 gap: 1rem;
 box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.4); 
 padding-bottom: 1.5rem;
 margin: 0 auto 0.5rem auto;

}

.iconscon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  }

  .iconscon h3 {
    text-align: center;
    margin-bottom: 1rem;
    
  }

  form {
    padding-left: 2rem;
    padding-right: 2rem;
  }