main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
 .welcome{
  font-size: 1rem;
  color: #000000;
  font-weight: bold;
  text-align: center;
  animation: pop 1.5s ease-in-out infinite alternate;
  font-family: 'Comic Sans MS', cursive, sans-serif;
 }

.imgcont {
display: flex;
align-items: center;
justify-content: center;


}

section .imgcont {
  max-height: 30%;
  max-width: 30%;
}

  .input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; /* gris claro */
    width: 300px;
    font-size: 1rem;
  }
  
  .buttonlogin {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #ff69b4; /* rosa fuerte */
    color: white; /* blanco */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  


h3 {
    font-size: 1rem;
    color: #000000;
    text-align: center;
   
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  

  