.categoryNav {
    width: 100%;
    overflow: hidden;
   }
   
   
   .categoryContainer {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: 16px; 
   }
   
   
   .categoryContainer::-webkit-scrollbar {
    display: none; 
   }
   .categoryButton {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
   }
   
   
   
   
   
   
   .active {
    background-color: #CFE2A5;
    border-color: #CFE2A5;
    color: #0c2745;
    border-radius: 15px 15px 0 0;
   }
      